:root {
  --primary-color: #000000;
  --primary-text-color: #FFFFFF;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
}

html {
  font-size: 62.5%;
}

@media (max-width: 64em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 49em) {
  html {
    font-size: 40%;
  }
}

@font-face {
  font-family: "helvetica";
  src: url("../fonts/HelveticaMedExt.ttf");
}

body {
  font-family: "helvetica", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: var(--primary-text-color);
  line-height: 2;
  font-size: 1.6rem;
}

header {
  height: 15vh;
  padding-left: 6rem;
}

@media (max-width: 49em) {
  header {
    padding-left: 0rem;
  }
}

@media (max-width: 49em) {
  header img {
    height: 12rem;
  }
}

.footer {
  font-size: 1.8rem;
  color: #959595;
  text-align: center;
  font-weight: 500;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ml4 {
  position: relative;
  font-weight: 500;
  font-size: 5.5rem;
}

.ml4 .letters {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0.3em;
  right: 0;
  opacity: 0;
}

.page-enter {
  opacity: 0;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.page-enter-active {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, transform 300ms;
  transition: opacity 300ms, transform 300ms, -webkit-transform 300ms;
}

.page-exit {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, transform 300ms;
  transition: opacity 300ms, transform 300ms, -webkit-transform 300ms;
}

.landing-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.landing-page_body {
  width: 60%;
  height: 60vh;
  background-image: url("../assets/starsBg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 49em) {
  .landing-page_body {
    background-image: url("../assets/bgMobile.svg");
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    background-size: initial;
    background-position: initial;
  }
}

.landing-page_body .text {
  width: 100%;
  height: 40%;
  text-align: center;
  padding-top: 5rem;
  overflow-x: hidden;
  overflow-y: hidden;
}

@media (max-width: 49em) {
  .landing-page_body .text {
    height: 20%;
  }
}

.landing-page_body .btn {
  background-color: transparent;
  border: none;
}

.landing-page_body .btn img {
  cursor: pointer;
}

.pick-playlist-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.pick-playlist-container .container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.pick-playlist-container .container-header {
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  line-height: 3.6rem;
}
/*# sourceMappingURL=index.css.map */